<!DOCTYPE html>
<html lang="en" ALIGN="center">
<head>
    <meta charset="UTF-8">


    <title> Home </title>
    <link rel="stylesheet">
</head>
<h1 >
    Saint Claire
</h1>
<body>


</body>


<div id="body ">
    <div class="group">

        <div class="buttons">
            <button>Patient</button>
            <button>Medical</button>
        </div>


        <table id="Table" border="3" align="center">
            <th scope="row">Saint Claire Record´s App any  logo  here </th>
          </table>

    </div>

    <a href="/"><h2>link in construction </h2></a>



</html>