<!DOCTYPE html>
<html lang="en" ALIGN="center">

<head>
    <meta charset="UTF-8">
    <title> Patient Index </title>
    <link rel="stylesheet">
    <td><img src="/templates/images/Sait_Claire_logo.jpg" width="80"></td>
</head>

<body>

<style>
    body {
        background-image: url("/templates/images/Sait_Claire_background+logo2.jpg");
        width: 1100px;
        background-repeat: no-repeat;
    }

</style>

</body>


<div id="body ">
    <div class="group">


        <table id="Table" border="3" align="center">

            <tr>
                <th scope="row" colspan="6"><img src="/templates/images/Sait_Claire_text.jpg" width="150"></th>
            </tr>
            <tr>
                <th scope="row" colspan="6">Menu Patient</th>
            </tr>
            <tr>

                <td><img src="/templates/images/navigation_icon_home.png" width="60"></td>

                <td><img src="/templates/images/patient_icon.png" width="60"></td>

                <td><img src="/templates/images/medical_icon.png" width="60"></td>

                <td><img src="/templates/images/patient_icon.png" width="60"></td>

                <td><img src="/templates/images/medical_icon.png" width="60"></td>

                <td><img src="/templates/images/patient_icon.png" width="60"></td>

            </tr>

            <tr>

                <td><a href="/"><h3> Go back </h3></a></td>

                <td><a href="http://localhost:8080/api/v1/patient "><h3> Patient </h3></a></td>

                <td><a href="http://localhost:8080/api/v1/speciality"><h3> Speciality </h3></a></td>

                <td><a href="http://localhost:8080/api/v1/patient "><h3> Patient </h3></a></td>

                <td><a href="http://localhost:8080/api/v1/speciality"><h3> Speciality </h3></a></td>

                <td><a href="http://localhost:8080/api/v1/patient "><h3> Patient </h3></a></td>

            </tr>
            <tr>
                <th scope="row" colspan="6">
                    <div id="current_date"></p>
                        <script>
                            document.getElementById("current_date").innerHTML = Date();
                        </script>
                    </div>
                </th>

            </tr>
        </table>

    </div>
</div>

</html>